* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #338cf4;
  font-family: "Poppins", sans-serif;
  padding: 20px;
}

.container {
  background-color: #ffffff;
  width: 90vmin;
  max-width: 800px;
  margin: 50px auto;
  padding: 50px 30px;
  border-radius: 10px;
  box-shadow: 0 25px 50px rgba(7, 20, 35, 0.2);
}

.tabs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  overflow-x: auto; /* Добавлено для прокрутки, если вкладок будет много */
  white-space: nowrap; /* Чтобы вкладки не переносились на следующую строку */
}

.tab {
  display: inline-flex; /* Это позволяет вкладкам выстраиваться в одну линию */
  padding: 10px 15px;
  margin-right: 10px;
  background-color: #f1f1f1;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  width: auto; /* Центровка текста и кнопки "закрыть" по вертикали */
}

.tab-button {
  display: inline-block; /* Важно для того, чтобы кнопка добавления новой вкладки тоже оставалась в строке */
  padding: 10px 15px;
  background-color: #f1f1f1;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-tab {
  font-size: 14px; /* Увеличиваем размер */
  padding: 0 15px; /* Добавляем отступы */
  margin-left: 10px; /* Разделение кнопки от текста вкладки */
  cursor: pointer;
  color: #ff4d4d; /* Цвет кнопки – красный для лучшей видимости */
  background-color: transparent;
  border: none;
  border-radius: 20px;
  transition: background-color 1s ease;
}

.close-tab:hover {
  background-color: #ffcccc; /* Фон при наведении для лучшей заметности */
  color: #ff0000; /* Более насыщенный цвет при наведении */
  border-radius: 20px;
}

.text-area {
  width: 100%; /* Ширина текстового поля по всей ширине контейнера */
  height: 300px; /* Высота текстового поля */
  padding: 10px; /* Внутренние отступы */ /* Учитывает padding в общей ширине/высоте */
  overflow-wrap: break-word; /* Перенос длинных слов */ /* Сохраняет пробелы и переносит строки */
  overflow: auto;
  font-family: Arial, Helvetica, sans-serif; /* Показывает прокрутку, если текст выходит за пределы */
}

.text-area.active {
  display: flex;
}

.options {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 10px;
  z-index: 1000;
}

/* Добавляем приоритет для шрифта и цветов */
#fontName, #fontSize, .input-wrapper {
  order: -1; /* Двигаем элементы в начало */
}

button {
  height: 28px;
  width: 28px;
  display: grid;
  place-items: center;
  border-radius: 3px;
  border: none;
  background-color: #ffffff;
  outline: none;
  color: #020929;
}

select {
  padding: 7px;
  border: 1px solid #020929;
  border-radius: 3px;
}

.options label,
.options select {
  font-family: "Poppins", sans-serif;
}

.input-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 40px;
  height: 28px;
  border: none;
  cursor: pointer;
}

input[type="color"]::-webkit-color-swatch {
  border-radius: 15px;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #020929;
}

input[type="color"]::-moz-color-swatch {
  border-radius: 15px;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #020929;
}

#text-input {
  margin-top: 10px;
  border: 1px solid #dddddd;
  padding: 20px;
  min-height: 300px;
  height: auto;
  overflow-y: auto;
  max-height: 600px;
  font-family: Arial, Helvetica, sans-serif;
}

.option-button:active,
.adv-option-button:active {
  background-color: #bbbbbb; /* Цвет фона при нажатии */
  transform: scale(1); /* Легкий эффект уменьшения при нажатии */
}

.tab:active,
.tab-button:active {
  background-color: #8f81ce; /* Цвет фона при нажатии */
  transform: scale(0.95); /* Легкий эффект уменьшения при нажатии */
}
